extends ../layout

block content
  h1 #{title}: #{book.title}
  p #[strong Author:]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |,

  if book_instances.length

    p #[strong Delete the following copies of this book before attempting to delete it.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Copies

      dl
      each val in book_instances
        hr
        p #[strong Id:]
          a(href=val.url) #{val._id}
        if val.status=='Available'
          p.text-success #{val.status}
        else if val.status=='Maintenance'
          p.text-danger #{val.status}
        else
          p.text-warning #{val.status}
        p #[strong Imprint:] #{val.imprint}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
